
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

*
{
    padding:0;
    margin: 0;

}

body{
    font-size:1.1rem;
    font-style: 'Rambla', sans-serif;;
}
.icon
{
    text-align: center;
    background-color: #e65100;
    font-size: 40px;
    border-radius: 50px;
    padding: 10px;
    color: #fff !important;
    margin-left: 130px !important;


}

.nav-link
{
    color: #083d90 !important; 
    
}
.nav-item a:hover
{
    border-bottom: 2px solid pink;
    transition:0.6s ease; 
    
}
.nav-item a:focus
{
    border-bottom: 2px solid pink;
    transition:0.6s ease; 
    
}
.navbar-brand
{
    color: #083d90!important;
    font-size: 2em;
    padding-left: 10px;
    letter-spacing: 2px;
    font-weight: 600;

}
.card-title
{
    cursor:pointer;
}
.text1
{
    color: #1d3d4b;
    letter-spacing: 2px;
}
.why-us-t
{
    letter-spacing: 2px;
    color: #083d90!important;
}
.best
{
 
    letter-spacing: 2px;
    color: #083d90!important;   
}
.opt
{
    
	border: 1px solid #fff;
  color:#fff;
  text-decoration: none;

  font-family:'Dosis', sans-serif;
 
  letter-spacing: 2px;
  font-size: 25px;
  width: 250px;
  background-color: #ffffff57;
  border-radius: 50px;
  height: 50px;
  margin: 10px;
  font-weight: 600;
    }

	.opt:hover{
        transition: 0.6s ease;
        transform: scale(1.1);


}



.why-us
{
padding: 15px !important;
width:300px !important;
width: auto;
background-color: #fff;
color: black;
margin-left: 60px;
border-radius: 20px;
}

.jumbotron , .sec-3{
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.jumbotron{
    height: 80vh;
    background-image: url(./jumbo5.png);
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.sec-3{
    height: 80vh;
    background-image: url(./back.png);
   
}
@media(max-width:710px){
    .sec-3{
        height: 300vh;
        background-position: bottom;
        background-image: url(./img2.jpg);
    }
    .sec-3 .row{
        margin-top: 2rem;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
#first{

    margin-left: 80px;
}

.places
{
    display: flex;
    justify-content: center;
}

.name
{
    display: flex;
    justify-content: center;
   
}

.card1
{
    border:0;
    padding: 10px;
    margin:30px;
}
.card-img-top1
{
  height: 15rem;
  width: 15rem;
  
  padding: 5px;
}
nav{
    top:0;
    background-color:rgba(255,255,255,0) !important;
	border-bottom:0px; 
}
.footer
{
	background-color: #000;
	color: #fff;
    font-size: 15px;
    padding: 40px !important;
	
}
#idk
{
    color:#fff;
}
h3
{
color:#f9676b; 
}
.footer2
{
	background-color: #000;
	height:70px;
	color: #e6e6e6;
	padding: 20px;
}
i
{
	font-size: 25px; 
}
.images
{
    width:18rem;
    height: 12rem !important;
}

